@using LocateMyCarWeb.Models.Helpers;
@model List<LocateMyCarWeb.Models.Vehicle>;
@{
}

@if (Model == null || !Model.Any())
{
    <div class="alert alert-warning" role="alert" style="text-align:center; margin:10px">
        Nenhum veiculo encontrado!
    </div>
}
else
{
    <div class="container mt-4">
        <h2>Lista de Veículos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Tipo</th>
                    <th width="50px"></th>
                    <th width ="50px"></th>
                    <th width="50px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Model)
                {
                    <tr>
                        <td>@vehicle.VehicleId</td>
                        <td>@vehicle.Brand</td>
                        <td>@vehicle.Model</td>
                        <td>@EnumHelper.GetEnumVehicleLabel(vehicle.Type)</td>
                        <td>
                            <a href="@Url.Action("Details", "Vehicle", new { id = vehicle.VehicleId })" class="btn btn-info">Detalhes</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Vehicle", new { id = vehicle.VehicleId })" class="btn btn-warning">Editar</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete", "Vehicle", new { id = vehicle.VehicleId })" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}